@use 'partials/header' as *;
@use 'partials/jambotron' as *;
@use 'partials/mainHomepage' as *;
@use 'partials/mainComics' as *;
@use 'partials/mainSingleComic' as *;
@use 'partials/mainFormNewComic' as *;
@use 'partials/footer' as *;
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.margin-right-xs {
    margin-right: 20px;
}

.underline-none {
    text-decoration-line: none;
}

ul {
    margin-bottom: 0px;
    padding-left: 0;
}